<div class="modal-header bg-warning">
    Bascket
</div>
<div class="modal-body">
    <table class="table">
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
            <th>Remove</th>
        </tr>
        <tr ng-repeat="meal in bascket|totalFilter">
            <td>{{$index+1}}</td>
            <td>{{meal.name}}</td>
            <td>
                <button ng-click="meal.qty=meal.qty-1"  class="btn btn-danger btn-sm">-</button>
                <span>{{meal.qty}}</span>
                <button ng-click="meal.qty=meal.qty+1" class="btn btn-success btn-sm">+</button>

            </td>
            <td>{{meal.price}}</td>
            <td>{{meal.price*meal.qty}}</td>
            <td><a href="#" class="close" ng-click="$event.preventDefault();bascket.splice($index,1)">x</a></td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <th>{{total}}</th>
        </tr>

    </table>
    <textarea class="form-control" ng-model="addr" placeholder="Full Address"></textarea>
    <button class="btn btn-success btn-block" ng-click="confirmOrder(addr)">Confirm Order</button>
</div>